/* Write your CSS here */

.amount-button {
  height: 30px;
  width: 120px;
  background-color: #382f5a;
  color: #c4c4c4;
  border: 1px solid #d4d2db;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 12px;
}
@media screen and (min-width: 768px) {
  .amount-button {
    height: 40px;
    width: 165px;
    font-size: 22px;
  }
}
